.itemList {
  border: 1px solid var(--accent-color);
  background: #f7f7f7 0% 0% no-repeat padding-box;
  padding: 13px 11px;
  height: 227px;
  overflow-y: auto;
  margin-bottom: 30px;
  scrollbar-color: #cccccc #f7f7f7;
  scrollbar-width: thin;
}
.item {
  padding: 7px 15px;
  overflow-x: auto;
  cursor: pointer;
}
.item:hover {
  background: #e4e4e4 0% 0% no-repeat padding-box;
  color: var(--secondary-color);
}
.selected {
  background: #324bff 0% 0% no-repeat padding-box;
  color: #ffffff;
}
